header{
    nav{
        a:hover:not(.logo){
          span, i{
            color:ghostwhite;
            transform: scale(1.2);
            transition: 0.3s;
          }
          div > #itemNumber{
            background-color:white;
            border-radius: 100%;
          }
          #itemNumber{
            color: black;
          } 
        }
      
    }
}

#top-page{
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url(../../CAPSTONE_IMG/header/banner_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 70vh;
  
}
.box{
  padding-left: 15%;
  padding-right: 15%;
}



footer{
  color: #FFF;
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8));
  height: 40vh;
  font-size: 18px;
  .aboutus{
    .brand, .useful-link{
      padding-left: 5%;
      padding-right: 5%;
    }
  }
  a{
    text-decoration: underline;
  }
}
.phoneItem{
  min-height: 420px;
}

.phoneItem .absolute {
  opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.phoneItem:hover .absolute {
  opacity: 1;
  visibility: visible;
}


// cartlayer
body{
  #cartLayer{
    position: absolute;
    top:0;
    height: 100%;
    z-index: 1;
    transition: 500ms;
  }
  .dissapear{
    left:100%;
  }
  #cartPage{
    position: absolute;
    width: 100%; /* Modify the width to occupy the entire available width */
    max-width: 30rem; 
    top:16vh;
    height: 90vh;
    width: 30vw;
    transition:  500ms;
    z-index: 2;
  }
}
body {
  .page {
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index:10;
    transition: 500ms;
  }
}
