<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cyber Phone</title>
    <!-- fontAwe  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- my Tailwind  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.0-alpha.1/tailwind.min.css"
      integrity="sha512-NUFPUFpyuQGekaUg+cNAh8qN0bwd04x5tBgYRT9iNdrUV38gVu4QU0jlx1CSBKPOnp5invOm0HPW4+cXqjBeAQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- css  -->
    <!-- <link rel="stylesheet" href="../../asset/css/Cus.css" /> -->
    <link rel="stylesheet" href="../../asset/css/Cus.css" />
  </head>
  <body>
    <div class="page left-0 dissapear" id="page">
      <!-- Cart page  -->
      <div id="cartLayer" class="bg-black opacity-70 w-full"></div>
      <div id="cartPage" class="bg-white text-black py-7 overflow-auto right-0">
        <div class="cart-title flex flex-col gap-2 px-6 py-5">
          <p class="text-4xl">Shopping Cart</p>
          <p class="text-gray-400">An over view of your selected products</p>
        </div>
        <div id="cart-item">
          <!-- <div class="item">
          <div class="imgAndInfo flex">
            <img
              src="https://gaumobile.com/images/products/2022/09/15/large/637985738260801133_ip-14-pro-tim_1663227038.png"
              alt="Photo"
              width="50%"
            />
            <div class="info flex flex-col gap-5">
              <p class="font-bold">This is the title!!!</p>
              <div class="desc">
                <p>Screen:</p>
                <p>Back Camera:</p>
                <p>Font Camera:</p>
              </div>
              <a href="#" class="text-red-600 underline">Remove</a>
            </div>
          </div>
          <div class="quantity flex justify-between px-6 py-5">
            <div class="right flex gap-5">
              <p class="font-bold">Quantity:</p>
              <div class="plusAndMinus space-x-1">
                <i
                  class="fa fa-minus-circle hover:text-blue-900"
                  onclick="decreaseNumber()"
                ></i>
                <span id="CartItemNumber">0</span>
                <i
                  class="fa fa-plus-circle hover:text-blue-900"
                  onclick="increaseNumber()"
                ></i>
              </div>
            </div>
            <div class="left font-bold">$0</div>
          </div>
        </div> -->
        </div>
        <div class="absolute bg-gray-200 w-full my-8 px-6 py-10">
          <div class="flex justify-between py-3">
            <p class="text-gray-500">Subtotal</p>
            <span id="subtotal">$0</span>
          </div>
          <div class="flex justify-between py-3">
            <div class="flex items-baseline gap-2">
              <p class="text-gray-500">Shipping</p>
              <p class="text-xs text-gray-500">(estimated)</p>
            </div>
            <span id="ship">$0</span>
          </div>
          <div class="flex justify-between py-3">
            <div class="flex items-baseline gap-2">
              <p class="text-gray-500">Tax</p>
              <p class="text-xs text-gray-500">(estimated)</p>
            </div>
            <span id="tax">$0</span>
          </div>
          <div class="flex justify-between py-3">
            <p class="text-xl font-bold">Total</p>
            <span class="text-xl font-bold" id="total">$0</span>
          </div>
          <p class="py-8 text-xs text-gray-500">
            Estimation based on New York, United States
          </p>
          <div class="btn flex justify-between text-white">
            <div class="leftBtn flex gap-4">
              <button class="bg-blue-600 px-3 py-2" onclick="showPage()">
                Continue Shopping
              </button>
              <button
                class="flex items-center mr-5 bg-red-600 px-7 py-2"
                onclick="emptyPage()"
              >
                <i class="fa fa-trash mr-1"></i>
                Empty Cart
              </button>
            </div>
            <div>
              <button onclick="pay()" class="rightBtn bg-yellow-600 px-3 py-2">
                Pay Now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <header class="w-full">
      <nav id="navbar" class="fixed mx-auto w-full z-10">
        <div class="box mx-auto px-auto text-white">
          <div class="flex justify-between">
            <!-- Logo  -->
            <!-- primary nav  -->
            <div class="flex space-x-16 px-3 z-10">
              <a href="#" class="logo flex items-center space-x-2">
                <i class="text-2xl fa fa-robot"></i>
                <span class="font-bold">Cyber Phone</span>
              </a>
              <div class="hidden md:flex space-x-4 px-3 py-2">
                <a
                  href="../../index.html"
                  class="flex flex-col items-center px-3 py-2 hover:text-gray-400"
                >
                  <i class="text-2xl fa fa-home"></i>
                  <span>Home</span>
                </a>
                <a
                  href="../../admin/view/admin.html"
                  class="flex flex-col items-center px-3 py-2"
                >
                  <i class="text-2xl fa fa-user-cog"></i>
                  <span>Admin Portal</span>
                </a>
              </div>
            </div>
            <!-- secondary nav  -->
            <div class="hidden md:flex px-3 py-2">
              <a
                class="flex flex-col items-center px-3 py-2 relative sec-nav z-10"
                onclick="showPage()"
              >
                <i class="text-2xl fa fa-shopping-cart"></i>
                <span>Cart</span>
                <div class="rounded-full w-4 bg-white absolute top-1 right-1">
                  <span
                    class="flex justify-center text-xs text-black font-bold"
                    id="itemNumber"
                    >0</span
                  >
                </div>
              </a>
            </div>
            <!-- Mobile button   -->
            <div class="flex md:hidden py-3 px-5">
              <button class="mobile-menu-button border">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-8 h-8"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                  />
                </svg>
              </button>
            </div>
          </div>
          <!-- Mobile Menu  -->
          <div class="mobile-menu md:hidden">
            <div class="block md:hidden py-2 px-4">
              <a
                href="../../index.html"
                class="flex flex-col items-center px-3 hover:text-gray-400"
              >
                <i class="text-2xl fa fa-home"></i>
                <span>Home</span>
              </a>
            </div>
            <div class="block md:hidden py-2 px-4">
              <a
                href="../../admin/view/admin.html"
                class="flex flex-col items-center px-3"
              >
                <i class="text-2xl fa fa-user-cog"></i>
                <span>Admin Portal</span>
              </a>
            </div>
            <div class="block md:hidden py-2 px-4">
              <a
                onclick="showPage()"
                class="flex flex-col items-center px-3 relative cursor-pointer"
              >
                <i class="text-2xl fa fa-shopping-cart"></i>
                <span>Cart</span>
                <div class="rounded-full w-4 bg-white absolute ml-5">
                  <span
                    class="flex justify-center text-xs text-black font-bold"
                    id="itemNumber_hidden"
                  >
                    0
                  </span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <body class="w-full">
      <!-- main page  -->
      <section id="top-page" class="w-full h-full">
        <div class="flex justify-center flex-wrap pt-28 box">
          <!-- phone description  -->
          <div class="phone-desc flex flex-col gap-10 flex-auto w-2/5 px-auto">
            <h1 class="text-5xl text-gray-100">Galaxy S22｜S22+</h1>
            <div class="rate">
              <a href="#"
                ><i
                  class="fa fa-star text-white opacity-80 hover:opacity-100"
                ></i
              ></a>
              <a href="#"
                ><i
                  class="fa fa-star text-white opacity-80 hover:opacity-100"
                ></i
              ></a>
              <a href="#"
                ><i
                  class="fa fa-star text-white opacity-80 hover:opacity-100"
                ></i
              ></a>
              <a href="#"
                ><i
                  class="fa fa-star text-white opacity-30 hover:opacity-100"
                ></i
              ></a>
              <a href="#"
                ><i
                  class="fa fa-star text-white opacity-30 hover:opacity-100"
                ></i
              ></a>
            </div>
            <p class="text-xl text-gray-400">
              Get select Galaxy Buds2 or Buds Live on us with Galaxy S22+. Plus,
              get up to $700 enhanced trade-in credit. For a limited time. Get
              hands on with the S22 and S22+. See in AR >>
            </p>
            <h5 class="text-2xl text-gray-100">1325$</h5>
            <button
              class="mb-5 bg-yellow-600 hover:bg-opacity-50 hover:text-black transition duration-150 text-white font-bold py-3 px-5 rounded w-1/4"
            >
              Find Out More!
            </button>
          </div>
          <!-- image  -->
          <img
            class="w-full h-auto flex-auto xl:w-2/5 px-auto flex-wrap"
            src="../../asset/Customer_IMG/s22.png"
            alt=""
          />
        </div>
      </section>
      <section class="w-full h-full mt-5">
        <div class="mx-auto box border-red-400">
          <select class="border" id="option-value">
            <option value="all" selected>All Brands</option>
            <option value="apple">Apple</option>
            <option value="samsung">Samsung</option>
            <option value="xiaomi">Xiaomi</option>
          </select>
          <div
            id="item-frame"
            class="mt-10 mb-10 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4"
          >
            <!-- Item hereeeeeeeee  -->
          </div>
        </div>
      </section>
    </body>
    <footer class="h-full w-full">
      <section class="social">
        <div class="box flex justify-center py-4 px-6 gap-10">
          <div class="desc">
            <p>Get connect with us throught social network:</p>
          </div>
          <div class="icon flex gap-4 items-center">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-github"></i>
          </div>
        </div>
      </section>
      <hr />
      <section class="aboutus box flex">
        <div class="cyberphone flex flex-col flex-auto w-1/4 gap-3 py-5">
          <div class="title flex items-center gap-3 uppercase">
            <i class="text-2xl fa fa-robot"></i>
            <p class="font-bold">Cyber Phone</p>
          </div>
          <p>
            We pride ourselves on our efficiency and hard work, but most of all
            our ability to source you the best quality and best value products
            and devices in the market.
          </p>
        </div>
        <div class="brand flex flex-col flex-auto w-1/4 py-auto gap-3 py-5">
          <div class="title">
            <p class="font-bold uppercase">Brands</p>
          </div>
          <a href="#">iPhone</a>
          <a href="#">Sumsung</a>
          <a href="#">Xiaomi</a>
          <a href="#">Oppo</a>
        </div>
        <div class="useful-link flex flex-col flex-auto w-1/4 gap-3 py-5">
          <div class="title">
            <p class="font-bold uppercase">Useful links</p>
          </div>
          <a href="#">Pricing</a>
          <a href="#">Setting</a>
          <a href="#">Orders</a>
          <a href="#">Help</a>
        </div>
        <div class="contact flex flex-col flex-auto w-1/4 gap-3 py-5">
          <div class="title">
            <p class="font-bold uppercase">Contact</p>
          </div>
          <div class="flex items-center gap-1">
            <i class="fa fa-home"></i>
            <p>Da Nang, Thanh Khe, VN</p>
          </div>
          <div class="flex items-center gap-1">
            <i class="fa fa-envelope"></i>
            <p>cyberphone@mail.com</p>
          </div>
          <div class="flex items-center gap-1">
            <i class="fa fa-phone"></i>
            <p>+ 01 234 567 88</p>
          </div>
          <div class="flex items-center gap-1">
            <i class="fa fa-fax"></i>
            <p>+ 01 234 567 89</p>
          </div>
        </div>
      </section>
      <section class="copyright">
        <div class="box flex justify-center items-center gap-2">
          <i class="fa fa-copyright items-center text-xs"></i>
          <p>
            2022 Copyright:
            <a href="#" class="underline font-bold">Cyber Phone</a>
          </p>
        </div>
      </section>
    </footer>
    <!-- sweetalert  -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Axios -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
      integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- sevice  -->
    <script src="../services/service.js"></script>
    <!-- Controller  -->
    <script src="../controller/controller.js"></script>
    <!-- main js  -->
    <script src="../controller/main.js"></script>
  </body>
</html>
